
<h1 mat-dialog-title>ACUERDO DE SOCIO INDEPENDIENTE DE MARKETING (SIM)</h1>
<mat-dialog-content>
<h3>1. GENERAL</h3>
<p>El Acuerdo de Socio Independiente de Marketing ("SIM"), el Plan de Compensación y los Términos y Condiciones Generales (que forman parte inseparable de un documento y el acuerdo completo entre ASIN NETWORK y sus SIM) explican 
    y rigen la relación entre las partes, Cada SIM debe leer, comprender y cumplir con todos los términos y condiciones. El Acuerdo constituirá el pleno entendimiento de las partes. Todas las partes de este Acuerdo se aplicarán a los 
    SIM Registrados. Al enviar la Solicitud / Acuerdo de SIM, usted acepta todos los términos y condiciones de este documento.<br>
    El Acuerdo está sujeto a revisión por parte ASIN NETWORK a su entera discreción.<br>
</p>
<h3>2. CONVERTIRSE EN UN SIM</h3>
<p>Para convertirse en un SIM, se requiere que un nuevo solicitante lea y acepte los términos del Acuerdo y los Términos y Condiciones generales.<br>
La incorporacioón del solicitante al sistema se efectúa por patrocinio (un socio ya registrado es el encargado de registrar al solicitante) El patrocinador es el responsable de presentarle al solicitante el Acuerdo de SIM y el Plan de Compensación.<br>
La solicitud debe completarse con precisió en su totalidad mediante la referencia de un Patrocinador el cual cargará los datos del solicitante desde la cuenta del patrocinador, asignandole al solicitante una posición (a izquierda o derecha) ASIN NETWORK se reserva el derecho a rechazar cualquier
solicitud a su entera discreción.<br>
Tras la notificación de aceptación por parte de ASIN NETWORK, el nuevo SIM se ingresará a la base de datos. Si hay algún error en una aplicación, los SIM deben verificar con el DEPARTAMENTEO de Soporte de ASIN NETWORK tan pronto como se descubra el error (dentro de las 24 horas) para evitar demoras en cualquier derecho en virtud del Acuerdo de SIM.<br>
Los requisitos de elegibilidad para convertirse en un SIM son los siguientes:<br>
A. Edad Legal. Cualquier persona mayor de edad (18 años)<br>
B. Menor con Autorización. Cualquier persona menor de edad puede ser titular de una cuenta, con previa autorización firmadad de un responsable mayor.<br>
C. Entidad Jurídica. Si un solicitante es una corporación, sociedad y otra entidad legal, todos los accionistas de la empresa solicitante, todos los socios de la sociedad o todos los propietarios de la persona jurídica solicitante deben aceptar la solicitud, una lista de los nombres 
de cada accionista del solicitante corporativo, de cada socio del solicitante de la asociación o de cada propietario si otra entidad legal debe acompañar la solicitud.<br>
D. Contratistas independientes. Los SIM son contratistas independientes. No son fraquiciados, empresas conjuntas, socios, empleados o agentes de ASIN NETWORK y tienen prohibido declarar o implicar, ya sea oralmente o por escrito lo contrario. ASIN NETWORK no es responsable del pago o copago de los
beneficios de los empleados. Los SIM son responsables de la salud, la discapacidad, la indemnización laboral y otros seguros y de cualquier otro registro requerido por las leyes del pais de residencia. Los SIM establecen sus propios horarios y determinan como llevar a cabo su negocio y son responsables 
de sus propias decisiones de gestión sujetas al Acuerdo de SIM.</p>

<h3>3. CAMBIOS EN EL ESTADO DE SIM</h3>
<p>A. Tras la muerte de un SIM, los derechos y responsabilidades se transfieren al heredero legítimo según lo determinado por un tribunal de jurisdicción competente.
El heredero también debe confirmar por escrito, dentro de los seis meses posteriores a la mierte del SIM anterior, que estará sujeto a los términos y condiciones del Acuerdo de SIM.<br>
B. Disolución de la posición.SIM corporativa o asociación. Tras la disolución de una coproración o la terminación de una sociedad que posee la posición de SIM, se transferirá de conformidad con el Acuerdo de SIM entre los accionistas o socios o por orden de un tribunal de jurisdicción competente mediante notificación por escrito a ASIN NETWORK.<br>
C. La venta de una posición SIM o cualquier derecho, directo o indirecto, no puede ser transferida por el SIM sin la aprobación previa por escrito de ASIN NETWORK a su entera y absoluta discreción. Una posición de SIM o cualquier derecho sobre ella que esté bajo suspensión, en período de prueba o sujeto a una 
acción disciplinaria o cualquier investigación por parte de ASIN NETWORK no puede ser vendidad o transferida mientras dicha condicion continúe.<br>
El contrato de compra y venta debe incluir una disposición en la cual las partes acuerdan la propiedad del inventario de la posición SIM en la venta.<br>
ASIN NETWORK no podrá otorgar un reembolso de inventario de una persona que vendió su interés en una posición de SIM.<br>
El comprador de una posición de SIM será responsable de todos los actos u omisiones del vendedor en contravención del Acuerdo de SIM por un período de seis meses después de la fecha de apobación de la venta o transferencia por parte de ASIN NETWORK. Para los fines de esta disposición, se requerirá que el vendedor continúe cumpliendo 
con todas las obligaciones durante este período.<br>
D. Fusiones, adición de Co-SIM. Las fusiones se permitirán solo entre el inscriptor y su primer nivel.<br>
ASIN NETWORK se reserva el derecho a su exclusivo criterio de aprobar o rechazar cualquier fusión o admisión propuesta de Co-SIM.<br>
La admisión debe crear una relación comercial de buena fe y no debe implicar la adición de personas inactivas o que transfieran sus ingresos a otros.<br>
E. Un SIM patrocinador es el único responsable de la colocación de la posicion de las cuentas de sus referidos. Cuando una posición es registrada en el sistema, es innamovible.
</p>

<h3>4. IMPUESTOS E INFORMES GUBERNAMENTALES</h3>
<p>Todos los SIM son personalmente responsables de todos los impuestos adeudados sobre las ganancias o sobre los ingresos por ventas o ganancias de la venta de productos de ASIN NETWORK. La Compañia proporcionará un registro de todos y cada uno de los fondos pagados por ASIN NETWORK a cada SIM y emitirá y presentará dichos informes a las agencias gubernamentales 
    u otros según lo exija la ley. Los SIM no serán tratados como un empleado de ASIN NETWORK para fines de impuestos sobre la renta.
</p>

<h3>5. POLÍTICA DE REFERENCIAS DE NUEVOS SOCIOS</h3>
<p>A. Cada nuevo SIM tiene un SIM de referencia. Cada nuevo prospecto tiene el derecho de elegir a quien le compra su Portafolio. Un SIM no debe influir indebidamente ni atraer de ninguna manera a los prospectos con representaciones de posibles ingresos o desarrollo de negocios, o el pago de cualquier compensación por parte de un SIM o ASIN NETWORK.<br>
B. ASIN NETWORK reconoce el SIM de referencia como el SIM que se muestra en la primera solicitud completada, fechada e ingresada en la base de datos.<br>
C. Entrenamiento. Los SIM que inscriben a otros SIM y venden Portafolios, deben utilizar sus mejores esfuerzos para proporcionar una supervisión continua y una capacitación de buena fe de estos SIM y su grupo de ventas. Esto debe incluir el contacto continuo, la comunicación, el estímulo y el apoyo de su organización de ventas.</p>

<h3>6. OBLIGACIONES DEL PATROCINADOR</h3>
<p>A. Un SIM que patrocina a otros SIM es el responsable de transmitirles a estos, información fidedigna, capacitación, motivación y acompañamiento.<br>
B. Un SIM no podrá apelar desconocimiento de los términos y condiciones del presente Acuerdo de SIM, ya que es requisito para la presentación de la solicitud de ingreso, haber leído y comprendido dichos términos y condiciones. Ante tal caso el responsable de proporcionar el Acuerdo de SIM y el Plan de Compensación a un solicitante, es su SIM patrocinador.</p>

<h3>6.POLÍTICAS DE PAGOS</h3>
<p>Para los pagos de revalorización de capitales de Portafolios, se tomará como metodología, el siguiente protocolo:<br>
A. Portafolio de protocolo libre (BASE - LIGHT - MEDIO - PLUS - MEGA - EXTRA - FULL) otorgarán ganancias semanales durante cincuenta semanas, según el porcentaje establecido para cada Portafolio, sobre su valor 
(BASE 2% - LIGHT 2% - MEDIO 2,5% - PLUS 3% - MEGA 3,5% - EXTRA 4% - FULL 4,5%)<br>
El período de cincuenta semanas comienza a correr a partir del primer día hábil posterior a la adquisición del Portafolio.<br>
C. El SIM tiene derecho a solicitar el pago de sus ganancias, incluyendo el costo del Portafolio, una vez cumplidas las cincuenta semanas. El pago se hará efectivo entre 5 y 15 días hábiles posteriores a la solicitud del SIM.<br>
D. Si un SIM no comunica su decisión de retiro de sus ganancias antes del cumplimiento de las cincuenta semanas, ASIN NETWORK entenderá que la cuenta del SIM continúa activa renovando del período por otras cincuenta semanas.<br>
E. El SIM puede solicitar que sus ganancias sean destinadas para la adquisición de otros Portafolios en su cuenta, o en cuenta de terceros.<br>
G. Cada SIM decide el medio de pago por el cual quiere recibir sus ganancias (Depósito, Transferencia, Mercado Pago o Efectivo en Oficinas Físicas).<br>
H. Los SIM pueden renovar el Acuerdo de SIM indefinidamente, cada cincuenta semanas, sujetos a los términos y condiciones vigentes.
</p>

<h3>8. PLAN DE COMPENSACIÓN</h3>
<p>Consulte el Plan de Compensación antes de inscribirse.<br>
El Plan de Compensación forma parte inseparable del presente acuerdo.<br>
El SIM reconoce y acepta que ASIN NETWORK se reserva el derecho inequívoco de cambiar o modificar los Términos y condiciones generales del presente Acuerdo de SIM y el Plan de Compensación. ASIN NETWORK notificará a SIM sobre cualquier cambio en el Plan de Compensación.
</p>

<h3>9. CONFLICTOS DE INTERESES Y CONFIDENCIALIDAD</h3>
<p>Los SIM son libres de participar en otras empresas de multinivel o mercadeo en red, en la medida en que no sean competencia de ASIN NETWORK.<br>
Los SIM tienen prohibido contratar a otros SIM de ASIN NETWORK para la venta de productos de otras compañias.<br>
Los SIM tienen prohibido violar mediante la celebración de otro contrato, los derechos de otros SIM u otros contratos de venta celebrados con otras compañias y cuyas cláusulas aún son válidas.
</p>

<h3>10. OBLIGACIONES DE DESARROLLO</h3>
<p>
Cualquier SIM que desee participar en ASIN NETWORK y beneficiarse del Plan de Compensación, debe realizar una función de supervisión de buena fe para garantizar que su grupo de ventas esté operando adecuadamente su negocio. Los SIM deben tener contacto continuo con los SIM de su grupo de venta.
Los ejemplos de tal contacto y supervisión pueden incluir, entre otros, boletines, correspondencia escrita, reuniones personales, contacto telefónico, correo de voz y correo electrónico. Estos contactos no deben violar ninguna parte del presente Acuerdo de SIM.
</p>

<h3>11. ETICA</h3>
<p>Los SIM no deben desacreditar a otros SIM, los productos y servicios de ASIN NETWORK, el Plan de Compensación o los empleados de la Compañia.</p>

<h3>12. ACTIVIDAD O CONDUCTA OBJETIVA</h3>
<p>
Los SIM no pueden distribuir material, tener correspondencia escrita, contacto telefónico, correo de voz o correo electrónico que contenga material ilegal, acosador, calumnioso, abusivo, amenazante, dañino, vulgar, obsceno u objetable en relación con ASIN NETWORK, sus empleados, socios o cualquier 
otro tercero o que de otro modo podrían dar lugar a responsabilidad civil o violar cualquier ley o regulación local, estatal, nacional o internacional aplicable.<br>
En estos casos, ASIN NETWORK puede interrumpir cualquier comunicación con el SIM y emprender acciones legales adicionales si es pertinente.
</p>

<h3>13. INFORMES DE VIOLACIONES A LA POLÍTICA</h3>
<p>
Los SIM que observen una violación de la política o del acuerdo de otro SIM deben presentar un informe por escrito de la violación directamente a la atención del Departamenteo Corporativo de ASIN NETWORK. Los detalles de los incidentes, como las fechas, el número de incidentes, las personas involucradas 
y cualquier documentación de respaldoo deben incluirse en el informe.
</p>

<h3>14. RESOLUCIÓN DE CONFLICTOS Y PROCEDIMIENTOS DISCIPLINARIOS</h3>
<p>A. Sanciones disciplinarias. La violación del presente Acuerdo de SIM, conducta comercial fraudulenta, engañosa o no ética por parte de cualquier SIM, puede resultar, a discreción de ASIN NETWORK en una o más de las siguientes medidas correctivas: <br>
1. Emisión de una advertencia o admonición por escrito.<br>
2. Requerir que el SIM tome medidas correctivas inmediatas.<br>
3. Imposición de una multa que puede ser retenida de su cuenta.<br>
4. Perdida de derechos a uno o más pagos de bonificación.<br>
5. Cualquier otra medida, que ASIN NETWORK considere factible implementar para resolver equitativamente las lesiones causadas por la violación de la política de SIM o incumplimiento contractual.<br>
6. Suspensión de la posición de SIM del individuo por uno o más períodos de pago.<br>
El SIM solo tiene derecho a comisiones si el o ella no infringe los Términos y Condiciones generales del presente acuerdo de SIM.<br>
B. Reconsideración. En el caso de que un SIM sea suspendido y desea que su suspensión sea reconsiderada, ASIN NETWORK deberá recibir una solicitud de reconsideración por escrito, dentro del período de 15 días a partir de la fecha de notificación de suspensión.
 Si no se recibe una solicitud de reconsideración dentro de este plazo, la suspensión se considerará automáticamente definitiva, sin derecho a reclamo ni indemnización.<br>
C. Quejas y reclamaciones. Cuando un SIM tiene una queja o reclamo con otro SIM con respecto a culquier práctica o conducta en relación con sus respectivos negocios, el SIM que se queja debe primero rportar el prolema a su Patrocinador, quien debe revisar el asunto. Si el caso no puede resolverse, 
debe informarse por escrito al Departamento de Soporte de ASIN NETWORK, quien revisará los hechos y los resolverá.<br></p>

<h3>15. CUENTA DE SIM</h3>
<p>
A. La titularidad de la cuenta se corresponde inequivocamente a los datos cargados durante el registro del SIM por su patrocinador.<br>
B. El SIM posee una cuenta privada con su Login y Contraseña personal, donde puede seguir el normal funcionamiento de sus estructura y portafolios, como así también sus ganancias, y es el único responsable de la cuenta.<br>
C. El SIM debe tener en su cuenta, todos sus datos personales debidamente cargados en su perfil, para esto, su cuenta tiene la función de modificación de datos del perfil. El incumplimiento de este punto, puede acaecer en demoras para efectuar pagos y/o comisiones.
</p>

<h3>16. PROMOCIONES</h3>
<p>
A. ASIN NETWORK emite periódicamente Portafolios promocionales llamados CÓDIGOS, los cuales son recibidos por los SIM, según los términos y condiciones establecidos por cada promoción. El SIM puede hacer uso de los Códigos Promocionales a su entera discreción, pudiendo optar por activarlos en su propia cuenta, 
guardarlos o venderlos a terceros. El valor del portafolio del código promocional está ligado al valor nominal vigente a la fecha en que el SIM ganó ese código.<br>
B. Los Códigos promocionales brindan ganancias porcentuales durante cincuenta semanas, ocupan una posición en al estructura, pero no suman puntos para bonos binarios ni calificación a Rangos.
</p>

<h3>17. ACEPTACIÓN DE LOS TÉRMINOS Y CONDICIONES</h3>
<p>
El SIM registrado, declara haber leido y comprendido el presente Acuerdo de SIM y acepta sus derechos y obligaciones.
</p>

<h3>BIENVENIDO A ASIN NETWORK ARGENTINA.-</h3>
</mat-dialog-content>