<app-menu></app-menu>
<div class="parallax-container">
    <div class="parallax"><img src="./assets/images/1.jpg"></div>
</div>
<section id="empresa" class="section">
    <div class="row container">
        <h2>Asin Network Argentina</h2>
        <h4>ASIN NETWORK es una Red de socios argentinos, con el único propósito de ayudar a las personas a desarrollar negocios, mejorar sus estados financieros, su calidad de vida y acompañar en el crecimiento constante de la comunidad.</h4>
        <h4>Te ayudaremos a adquirir y potenciar tus habilidades financieras mediante estrategias de negocios, para que dejes de trabajar por el dinero, y el dinero trabaje por ti.</h4>
        <h4>Te ayudaremos a desarrollar tu propio negocio de mercadeo y te acompañaremos en cada uno de tus pasos en el camino al crecimiento económico, ademas de brindarte el reconocimiento merecido, por cada uno de tus logros.</h4>
    </div>
</section>
<section id="asin" class="parallax-container  valign-wrapper">
    <div class="parallax"><img src="./assets/images/2.jpg"></div>
    <div class="row container">
        <h4>ASIN NETWORK es un Equipo de profesionales especializados en las áreas de Negocios Tradicionales y No Tradicionales, Marketing Digital, Mercadeo en Red y Desarrollo Personal.</h4>
        <h4>Nuestro Objetivo es simplemente ayudarte a alcanzar tus metas mediante el trabajo conjunto, la capacitación y la motivación.</h4>
    </div>
</section>
<section id="contacto" class="parallax-container valign-wrapper">
    <!-- <div class="parallax"><img src="images/3.jpg"></div> -->
    <div class="row container">
        <app-contacto></app-contacto>
    </div>
</section>
<app-footer></app-footer>