<div class="container pt-50">
    <div class="row">
        <h1>Asincash</h1>
    </div>
    <div class="row mb-0">
        <!-- <div class="col s12">
            <table mat-table [dataSource]="dataSource" class="table">
    
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef> Fecha </th>
                  <td mat-cell *matCellDef="let e"> {{ e.fecha | date: 'dd/MM/yy' }} </td>
                </ng-container>
    
                <ng-container matColumnDef="cash">
                  <th mat-header-cell *matHeaderCellDef> Asincash </th>
                  <td mat-cell *matCellDef="let e"> {{ e.cash }} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
        </div> -->
      <h2>Proximamente...</h2>
    </div>
</div>