<div class="container pt-50">
    <div class="row">
      <div class="row">
        <h1 class="col s2">Mi Red</h1>
        <div class="col s10">
          <div class="row">
            <div class="col s4">
              <div class="row">
                <div class="col s12">Cantidad a izquierda: {{izquierda}}</div>
                <div class="col s12" *ngIf="data">Puntos a izquierda (autocalculado): {{puntosIzquierda}}</div>
                <div class="col s12">Puntos a izquierda: {{ganancias?.puntos_izquierda}}</div>
                <div class="col s12">
                  <p>Ganancia Semanal: ${{ganancias?.semanal}}</p>
                  <p *ngIf="arbol?.p1">Portafolio 1: ${{generado_p1}}</p>
                  <p *ngIf="arbol?.p2">Portafolio 2: ${{generado_p2}}</p>
                  <p *ngIf="arbol?.p3">Portafolio 3: ${{generado_p3}}</p>
                </div>
                <div class="col s12">
                  <p>Rango: {{rango}}</p>
                </div>
              </div>
            </div>
            <div class="col s4">
              <div class="row">
                <div class="col s12">Cantidad a derecha: {{derecha}}</div>
                <div class="col s12" *ngIf="data">Puntos a derecha (autocalculado): {{puntosDerecha}}</div>
                <div class="col s12">Puntos a derecha: {{ganancias?.puntos_derecha}}</div>
              </div>
            </div>
            <div class="col s4">
              <div class="row">
                <div class="col s12">Comisión: {{ganancias?.fecha_cobro | date:'d/MM/yy'}}</div>
                <div class="col s12">Venta Directa: ${{ganancias?.venta_directa}}</div>
                <div class="col s12">Primera Línea: ${{ganancias?.primera_linea}}</div>
                <div class="col s12">Segunda Línea: ${{ganancias?.segunda_linea}}</div>
                <div class="col s12">Tercer Línea: ${{ganancias?.tercera_linea}}</div>
                <div class="col s12">Cuarta Línea: ${{ganancias?.cuarta_linea}}</div>
                <div class="col s12">Binario: ${{ganancias?.binario}}</div>
                <div class="col s12">Total a Cobrar: ${{ganancias?.total}}</div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="data">
            <button mat-button class="col s12 waves-effect waves-light btn red darken-4" (click)="editarGanancias()">Editar Ganancias</button>
          </div>
          <!-- <div class="row" *ngIf="arbol?.fecha_p1">
            <div class="col s3">Portafolio: </div>
            <div class="col s3">Inicio: {{arbol.fecha_p1 | date:'d/MM/yy'}}</div>
            <div class="col s3">Semanas: {{weeks}}/{{arbol.s1}}</div>
            <div class="col s3">Generado: ${{weeks * arbol.puntos_p1}}</div>
          </div>
          <div class="row" *ngIf="arbol?.fecha_p2">
            <div class="col s3">Portafolio: </div>
            <div class="col s3">Inicio: {{arbol.fecha_p2 | date:'d/MM/yy'}}</div>
            <div class="col s3">Semanas: {{weeks}}/{{arbol.s2}}</div>
            <div class="col s3">Generado: ${{weeks * arbol.puntos_p2}}</div>
          </div>
          <div class="row" *ngIf="arbol?.fecha_p3">
            <div class="col s3">Portafolio: </div>
            <div class="col s3">Inicio: {{arbol.fecha_p3 | date:'d/MM/yy'}}</div>
            <div class="col s3">Semanas: {{weeks}}/{{arbol.s3}}</div>
            <div class="col s3">Generado: ${{weeks * arbol.puntos_p3}}</div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row mb-0">
        <ngx-graph
        [links]="links"
        [nodes]="nodos"
        [view]="view"
        [class]="arbol"
        [autoCenter]=true
        [animate]=true
        [update$]="update$"
        [layoutSettings]="layoutSettings"
        [enableZoom]=false
        [draggingEnabled]=false
        [panningEnabled]=true
        [zoomToFit$]="zoomToFit$"
        [center$]="center$"
        
      >
        
        <ng-template #nodeTemplate let-node>
          <svg:g class="node" (click)="verUsuario(node.id,node.posicion)">
            <!-- <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" /> -->
            <svg:image *ngFor="let port of node.portafolio" [attr.xlink:href]="port.image" [attr.x]="port.x" y="-10" height="50px" width="50px"/>
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height -10" [ngClass]="{'nodo': !data, 'nodoW': data}">{{node.label}}</svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="2"></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                startOffset="30%"
              >
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>
</div>