<div class="row">
    <h1>Ganancias</h1>
</div>
<div class="row">
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Venta Directa:</mat-label>
            <input matInput type="text" [(ngModel)]="ganancia.venta_directa">
        </mat-form-field>
    </div>
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Comisión</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="ganancia.fecha_cobro">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Primera Linea:</mat-label>
            <input matInput type="text" [(ngModel)]="ganancia.primera_linea">
        </mat-form-field>
    </div>
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Segunda Linea:</mat-label>
            <input matInput type="text" [(ngModel)]="ganancia.segunda_linea">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Tercera Linea:</mat-label>
            <input matInput type="text" [(ngModel)]="ganancia.tercera_linea">
        </mat-form-field>
    </div>
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Cuarta Linea:</mat-label>
            <input matInput type="text" [(ngModel)]="ganancia.cuarta_linea">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Binario:</mat-label>
            <input matInput type="text" [(ngModel)]="ganancia.binario">
        </mat-form-field>
    </div>
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Total a Cobrar:</mat-label>
            <input matInput type="text" [(ngModel)]="ganancia.total">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Puntos a izquierda:</mat-label>
            <input matInput type="text" [(ngModel)]="ganancia.puntos_izquierda">
        </mat-form-field>
    </div>
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Puntos a derecha:</mat-label>
            <input matInput type="text" [(ngModel)]="ganancia.puntos_derecha">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <mat-form-field appearance="standard">
            <mat-label>Ganancia Semanal:</mat-label>
            <input matInput type="text" [(ngModel)]="ganancia.semanal">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <button mat-button class="col s12 waves-effect waves-light btn red darken-4" (click)="editarGanancias()">Guardar</button>
    </div>
</div>