<footer id="socialMedia"  class="section">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div class="row">
                    <h5>¡Seguinos en nuestras Redes Sociales!</h5>
                </div>
                <div class="row">
                    <div class="col s2"><a href=""><fa-icon [icon]="faFacebook" size="3x"></fa-icon></a></div>
                    <div class="col s2"><a href=""><fa-icon [icon]="faInstagram" size="3x"></fa-icon></a></div>
                    <div class="col s2"><a href=""><fa-icon [icon]="faTwitter" size="3x"></fa-icon></a></div>
                    <div class="col s2"><a href=""><fa-icon [icon]="faYoutube" size="3x"></fa-icon></a></div>
                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Contacto</h5>
                <div class="row">
                    <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon>&nbsp;<span>+5493875376267</span>
                </div>
                <div class="row">
                    <fa-icon [icon]="faPhone" size="2x"></fa-icon>&nbsp;<span>3888428721</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <app-creditos></app-creditos>
    </div>
</footer>